---
---


@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes";

.initial-content {
  height: 100%;
}
.page__hero--overlay {
  height: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-bottom: 90%;
}

.wrapper {
  position: relative;
  padding-top: 20px;
}

.masthead {
  position: sticky;
  top: 0;
  background-color: #fff;
}

#main {
  height: 100%;
}
