---
---
@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes";

$blue: #353d5a;
$darkblue: #1c2031;

html, .greedy-nav {
  background-color: $blue;
}

.page__footer {
  background-color: $darkblue;
  margin-top: 0;
}
